<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Password Generator</title>
</head>
<body>
<!-- As a link -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'home' %}">Random Password Generator</a>
</nav>
<br>
<div class="container">
    <div class="jumbotron">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
<footer>
    <!-- Copyright -->
    <div class="text-center p-3 bg-primary">
        © 2021 Copyright:
        <a class="text-white" href="">Talent Pachena</a>
      </div>
  <!-- Copyright -->
</footer>
</html>