{% extends 'generator/base.html' %}
{% block content %}

<h5 class="alert alert-success">Your Generatred and Copied Password to your clipboard: <strong>{{ thepassword_copied }}</strong></h5>
<p class="text-center">*** Please check your clipboard to see your password ***</p>

<div class="text-center">
    <br>
    <a role="button" class="btn btn-primary" href="{% url 'generate_password' %}">Change Password Combination</a>
    <div class="text-center">
        <br>
        <a role="button" class="btn btn-primary" href="{% url 'home' %}">Go to Home Page</a>
    </div>
</div>
{% endblock %}