{% extends 'generator/base.html' %}
{% block content %}

<h5 class="alert alert-success">Your Generatred Password Copied to clipboard: <strong>{{thepassword}}</strong></h5>

<div class="text-center">
    <br>
    <a role="button" class="btn btn-primary" href="{% url 'generate_password' %}">Change Password Combination</a>
    <br>
    <br>
</div>
<br>
<!-- Copy Password using Javascript -->
<div class="text-center">
    <p>Click on the button labelled <b>'Copy Password'</b> to copy the Password from the text field. Use <b>ctrl+v</b> afterwards in a different window, to paste your password.</p>

    <button class="btn-primary"style="text-align:center;" onclick="CopyPassword()">Copy Password</button>
     <input style="text-align:center;" type="text" value="{{thepassword}}"id="password">

     <script>
        function CopyPassword() {
        var text = document.getElementById('password')
        text.select();
        document.execCommand('copy')
      }
      </script>
</div>
<!-- End Of Copying Password using Javascript -->
<br>
<div class="text-center">
    <br>
    <a role="button" class="btn btn-primary" href="{% url 'home' %}">Go to Home Page</a>
</div>
{% endblock %}